.classes-part{
    margin: 30px 25px;
}
.class-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.class-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    width: 45px;
    text-align: center;
}
.class-logo img{
    width: 24px;
    height: 24px;
}
.class-type{
    font-size: 14px;
    width: 45px;
}
.class-type1{
    color: #ED785D;
}
.class-type2{
    color: #BBDC5C;
}
.class-type3{
    color: #3CAEE9;
}
.class-tag{
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    color:#333;
    padding: 0 10px;
    background: #ececec;
    border-radius: 16px;
    margin: 5px;
}
.class-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.class-line{
    height: 1px;
    background: #ECECEC;
    width: 100%;
}